<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/ETRI-EdgeAnalytics/ObjectDetection" class="btn">View on GitHub(ETRI & GDL App)</a>
  <a href="https://github.com/Kthyeon/micronet_neurips_challenge" class="btn">View on GitHub(KAIST MicroNet Challenge #1)</a>
  <a href="https://github.com/Lee-Gihun/MicroNet_OSI-AI" class="btn">View on GitHub(KAIST MicroNet Challenge #2)</a>
  <a href="https://github.com/ETRI-EdgeAnalytics/smartfarm" class="btn">View on GitHub(ETRI & SmartFarm)</a>
  <a href="https://github.com/ETRI-EdgeAnalytics/AIGrandChallenge" class="btn">View on GitHub(ETRI AI Grand Challenge)</a>

  <!--<a href="https://edgegw.ntels.com:10002" class="btn">View on Site(NTELS Edge Platform)</a>-->
</section>
